# Top-level executables
/gitaly
/gitaly-blackbox
/gitaly-debug
/gitaly-git2go
/gitaly-hooks
/gitaly-lfs-smudge
/gitaly-ssh
/gitaly-wrapper
/praefect

# Generic artifacts
/_build
/*.deb
/proto.diff

# Ruby build artifacts
/.ruby-bundle
/ruby/vendor/bundle
/ruby/.bundle
/ruby/tmp
/gitaly-*.gem

# Test data
/internal/service/smarthttp/testdata
/internal/testhelper/testdata/data
/**/testdata/gitaly-libexec

# Configuration and runtime data
/*.toml
*.socket
gitaly.pid
ruby/git-hooks/.gitlab_shell_secret
