image: registry.gitlab.com/gitlab-org/gitlab-build-images:golang-1.7-git-2.8.4

stages:
  - test
  - package
  - publish

.test_template: &test_definition
  stage: test
  script:
    - go version
    - git version
    - make
    - make test

test:go1.5:
  <<: *test_definition
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:golang-1.5-git-2.8.4

test:go1.6:
  <<: *test_definition
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:golang-1.6-git-2.8.4

test:go1.7:
  <<: *test_definition
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:golang-1.7-git-2.8.4

test:go1.8:
  <<: *test_definition
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:golang-1.8-git-2.8.4

verify:
  stage: test
  script:
    - make notice-up-to-date
    - make verify

package:
  stage: package
  only: 
    - tags
  script:
    - apt-get update -qq
    - apt-get install -qq -y rubygems bundler
    - GOOS=linux GOARCH=amd64 make clean package
    - ls -l # Want to see permissions as they went into the .deb
    - dpkg -e *.deb
    - cat DEBIAN/control
    - cat DEBIAN/md5sums
    - rm -rf DEBIAN
  artifacts:
    paths:
      - ./*.deb

publish:
  stage: publish
  only:
    - tags
  variables:
    GIT_STRATEGY: none
  script:
    - apt-get update -qq
    - apt-get install -y rubygems
    - gem install package_cloud
    - ls -lh *.deb
    - shasum -a256 *.deb
    - package_cloud push $PACKAGECLOUD_REPO *.deb --url=https://packages.gitlab.com
